<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="256" overflowAction="Discard">
      <target xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/EmbeeED/NavServer.log" archiveFileName="${specialfolder:folder=ApplicationData}/EmbeeED/NavServer_${date:format=yyyyMMdd}.log"
              archiveNumbering="Rolling" archiveEvery="Day" maxArchiveFiles="2" layout="${longdate} ${level:fixedLength=True:padding=-7:padCharacter= :upperCase=True} ${logger:fixedLength=True:padding=-25:padCharacter= } ${message} ${exception:format=tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
